{% extends 'base.html' %}

{% block main %}
<h2>Contact Form</h2>
<hr id="title_sep">
<form action="{{url_for('contact')}}" method="POST">
    {{ form.csrf_token }}
    <div>
        <span>Questions? Fill out the form below</span>
    </div>
    <div class="col">
        <label for="name">{{form.name.label}} <span class="required">(Required)</span></label>
        <span class ="blk">Name: </span>
        {{form.name}}
    </div>
    <div class="col">
        <label for="email">{{form.email.label}} <span class="required">(Required)</span></label>
        <span class ="blk" >Email address: </span>
        {{form.email}}
    </div>
    <div class="col">
        <label for="subject">{{form.subject.label}} <span class="required">(Required)</span></label>
        <span class ="blk">Message Subject: </span>
        {{form.subject}}
    </div>
    <div class="col">
        <label for="message">{{form.message.label}} <span class="required">(Required)</span></label>
        <span class ="blk" >Message: </span>
        {{form.message}}
    </div>
    <div>
        <input type="submit" value="Send Message" id="send-btn"/>
    </div>
</form>
{% endblock %}